/*===========================================================
Step 1 ==> Start Import Libraries
=============================================================*/

@import "tailwindcss";
@plugin "daisyui";

/*===========================================================
Step 1 ==> End Import Libraries
=============================================================*/

/*
========================================================================================================================
========================================================================================================================
========================================================================================================================
*/

/*===========================================================
Step 2 ==> Start Import Fonts
=============================================================*/

/*-----------------------------------------------------------
Tajawal Font
Used Mainly For Arabic Language
-------------------------------------------------------------*/

@font-face {
  font-family: "Tajawal";
  src: url("/Fonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("/Fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("/Fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("/Fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("/Fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("/Fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("/Fonts/Tajawal/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*-----------------------------------------------------------
Poppins Font
Used Mainly For English Language

NOTE:
Make sure Poppins font files actually exist inside:
public/Fonts/Poppins/
-------------------------------------------------------------*/

/*===========================================================
Plus Jakarta Sans
Used For English Language
=============================================================*/

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/Fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/Fonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/Fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/Fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*===========================================================
Step 2 ==> End Import Fonts
=============================================================*/

/*
========================================================================================================================
========================================================================================================================
========================================================================================================================
*/

/*===========================================================
Step 3 ==> Start Global Variables
=============================================================*/

:root {
  /*---------------------------------------------------------
  Primary Colors
  -----------------------------------------------------------*/

  --primary-color: #ff6200;
  --primary-color2: red;

  /*---------------------------------------------------------
  Secondary Colors
  -----------------------------------------------------------*/

  --secondary-color: #fff6ef;

  /*---------------------------------------------------------
  Text Colors
  -----------------------------------------------------------*/

  --primary-pera: #0c2c7a;

  /*---------------------------------------------------------
  Dark Mode Colors
  -----------------------------------------------------------*/

  --DarkMode-color: #000b18f9;
  --DarkMode-secondary: #00142df9;

  /*---------------------------------------------------------
  Fonts
  -----------------------------------------------------------*/

  --font-ar: "Tajawal", sans-serif;
  --font-en: "Plus Jakarta Sans", sans-serif;
}

/*===========================================================
Step 3 ==> End Global Variables
=============================================================*/

/*
========================================================================================================================
========================================================================================================================
========================================================================================================================
*/

/*===========================================================
Step 4 ==> Start Global HTML Styling
=============================================================*/

html {
  /*---------------------------------------------------------
  Smooth Scrolling
  -----------------------------------------------------------*/

  scroll-behavior: smooth;

  /*---------------------------------------------------------
  Browser Scrollbar
  -----------------------------------------------------------*/

  scrollbar-width: auto;
  scrollbar-color: var(--primary-color) #0b0000;
}

/*===========================================================
Step 4 ==> End Global HTML Styling
=============================================================*/

/*
========================================================================================================================
========================================================================================================================
========================================================================================================================
*/

/*===========================================================
Step 5 ==> Start Global Body Styling
=============================================================*/

body {
  /*---------------------------------------------------------
  Body Size
  -----------------------------------------------------------*/

  width: 100%;
  min-height: 100dvh;

  /*---------------------------------------------------------
  Default Background
  -----------------------------------------------------------*/

  background-color: var(--white-color) !important;

  /*---------------------------------------------------------
  Default Font
  -----------------------------------------------------------*/

  font-family: var(--font-en);
}

/*===========================================================
Step 5 ==> End Global Body Styling
=============================================================*/

/*
========================================================================================================================
========================================================================================================================
========================================================================================================================
*/

/*===========================================================
Step 6 ==> Start Language Based Styling
=============================================================*/

/*-----------------------------------------------------------
Arabic Language
Direction:
RTL

Font:
Tajawal
-------------------------------------------------------------*/

html[lang="ar"] body {
  font-family: var(--font-ar);
}

/*-----------------------------------------------------------
English Language
Direction:
LTR

Font:
Poppins
-------------------------------------------------------------*/

html[lang="en"] body {
  font-family: var(--font-en);
}

/*===========================================================
Step 6 ==> End Language Based Styling
=============================================================*/
